.App {
	text-align: left;
	margin: 50px 50px;
}

.item-form {
	margin-bottom: 20px;
}

.item-form > * {
	display: block;
	margin-bottom: 10px;
}

.item-line > * {
	margin-right: 10px;
}

.done {
	text-decoration: line-through;
}
