.form-line {
	width: 350px;
	height: 30px;
	border: black solid 1px;
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
	padding: 5px 10px;
	background-color: #eee;
	margin-top: 10px;
}

.done {
	color: blue;
	font-size: 2em;
}
.notDone {
	color: pink;
	font-size: 2em;
}
.App {
	text-align: left;
	margin-top: 50px auto;
}
