.app {
	text-align: left;
	margin-left: 30px;
	border: black 1px solid;
	width: 700px;
	margin: 0 auto;
	padding: 10px;
}
.app * {
	/* border: black 1px solid; */
}
.flex {
	display: flex;
	justify-content: flex-start;
}
.Header {
	background-color: green;
	margin-bottom: 10px;
}
/* .Ads,
.Header {
	width: 100%;
} */
.Nav {
	flex: 1;
	background-color: lightblue;
}
.Main {
	padding: 10px 10px;
	flex: 3;
	background-color: pink;
}
.SubContainer {
	display: flex;
	justify-content: space-between;
}
.Sub {
	height: 50px;
	background-color: yellow;
	flex: 1;
	margin: 0 10px;
}
.Ads {
	background-color: violet;
	margin: 10px 10px;
}
